%header.main-head
  .ui.menu.borderless.light.fixed.noshadow
    .ui.container.fluid
      .item.header
        %h2.logo
          = link_to "Share Your Recipe", root_path
      .right.menu
        .item.active
          = link_to "Home", "#"
        .item
          = link_to "Recipes", "#"
        .item
          = link_to "Sign Up", "#"


